:host {
    min-height: 100%;
    ::ng-deep {
        .app-navigation-menu {
            position: sticky;
            bottom: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            background: rgba(255, 255, 255, 0.94);
        }
        .responsive-img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
