<section class="container d-flex flex-column flex-grow-1 pt-3 pt-sm-4 pt-md-5">
    <div class="flex-grow-1">
        <h1 class="mb-0">GitHub Search</h1>

        <h3 class="pt-3 pt-sm-4 mb-0">
            Please enter GitHub user name for search
        </h3>

        <div class="row pt-3 pt-sm-4">
            <div class="col-md-6">
                <form [formGroup]="searchForm">
                    <mat-form-field class="w-100 notranslate">
                        <input
                            autocomplete="off"
                            matInput
                            placeholder="Username"
                            spellcheck="false"
                            formControlName="githubUserName"
                        />
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div *ngIf="repositoriesList !== undefined" class="pt-3 pt-sm-4">
            <mat-card *ngIf="repositoriesList.length === 0">
                <h3>No results found</h3>
            </mat-card>

            <ng-container *ngIf="repositoriesList.length > 0">
                <mat-card
                    *ngFor="let repository of repositoriesList; first as isFirst"
                    [class.mt-4]="!isFirst"
                >
                    <div class="d-flex">
                        <div class="search-repository-author-photo d-flex justify-content-center align-items-center flex-shrink-0 pt-1">
                            <img [src]="repository.authorPhotoUrl" class="search-repository-author-photo-img responsive-img">
                        </div>

                        <div class="ml-2 ml-sm-4">
                            <div class="search-repository-name">
                                {{ repository.name }}
                            </div>

                            <div class="mat-body-1 pt-2">
                                Repository url:
                                <a [href]="repository.url" class="text-break">
                                    {{ repository.url }}
                                </a>
                            </div>

                            <div class="d-flex flex-wrap pt-1">
                                <div class="mat-small pt-1 mr-3">
                                    <span class="search-repository-field-title">
                                        Count of stars:
                                    </span>

                                    {{ repository.countOfStars }}
                                </div>

                                <div class="mat-small pt-1 mr-3">
                                    <span class="search-repository-field-title">
                                        Author:
                                    </span>

                                    <span class="text-nowrap">
                                        {{ repository.authorName }}
                                    </span>
                                </div>

                                <div class="mat-small pt-1">
                                    <span class="search-repository-field-title">
                                        Last changed:
                                    </span>

                                    <span class="text-nowrap">
                                        {{ repository.updatedAt }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mat-body-1 pt-3 pt-sm-4">
                        {{ repository.description }}
                    </div>
                </mat-card>
            </ng-container>
        </div>
    </div>

    <div class="app-navigation-menu py-3 mt-5">
        <button
            class="d-flex justify-content-center align-items-center"
            mat-flat-button
            color="primary"
            (click)="onClickBackButton()"
        >
            <mat-icon class="mr-2">west</mat-icon>
            <span>Back</span>
        </button>
    </div>
</section>

