.search-repository {
    &-author-photo {
        width: 60px;
        height: 60px;
        @media screen and (min-width: 576px) {
            width: 90px;
            height: 90px;
        }
        &-img {
            border-radius: 50%;
        }
    }
    &-name {
        font-size: 19px;
        line-height: 23px;
        @media screen and (min-width: 576px) {
            font-size: 23px;
            line-height: 27px;
        }
    }
    &-field-title {
        color: var(--gray);
    }
}
